body {
  max-width: 95ch;
  padding: 2ch;
  margin: auto;
  font-family: "Roboto", Helvetica, Arial, Sans-serif;
  word-wrap: break-word;
  background-color: white;
  line-height: 1.5;
}

.repo-last-updated {
  font-style: italic;
}

.repo-link {
  font-family: "Roboto Mono", monospace;
}

.footer {
  text-align: center;
  font-style: italic;
  font-size: .9rem;
}

.clone-url {
  font-family: "Roboto Mono", monospace;
  -webkit-user-select: all; /* Safari */
  user-select: all; /* Standard syntax */
}

hr.thin {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

h1 {
   margin: 0px;
}
h2 {
   margin: 0px;
}


pre {
    line-height: 1.2;
    font-size: 1rem;
    overflow: auto;
}

tr:hover {
  background-color: #f0f0f0;
}

td {
  white-space: nowrap;
  margin: 0px;
  border-style:hidden;
  padding: 0;
}

table td {
    padding: 0 0.4em;
  }

table {
  width: 100%;
  border-collapse: collapse;
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 16px;
  }

  .repo-description, .repo-last-updated {
    display: none;
  }
}
