{% extends "base.html" %}

{% block content %}
  {% include "repo-navbar.html" %}
  <b>Commit:</b> <span class="commit-hash">{{commit.id()}}</span> (<a href="/{{repo|repo_name|urlencode_strict}}/tree/{{commit.id()}}">tree</a>)
  <br>
  <b>Parent:</b> <a href="/{{repo|repo_name|urlencode_strict}}/commit/{{parent.id()}}" class="commit-hash">{{parent.id()}}</a> (<a href="/{{repo|repo_name|urlencode_strict}}/tree/{{parent.id()}}">tree</a>)
  <br>
  <b>Author:</b> {{commit.author().name().unwrap()}} &lt;<a href="mailto:{{commit.author().email().unwrap()}}">{{commit.author().email().unwrap()}}</a>&gt;
  <br>
  <b>Date:</b> {{commit.time()|format_datetime("%c %z")}}
  <br>
  {% let stats = diff.stats().unwrap() %}
  {{stats.files_changed()}} files changed; {{stats.insertions()}} insertions {{stats.deletions()}} deletions
  <pre class="commit-message">{{commit.message().unwrap()}}</pre>
{% endblock %}
