{% extends "base.html" %}

{% block title %}{{repo|repo_name}} log at {{branch}} - {{crate::CONFIG.site_name}}{% endblock %}

{% block content %}
  {% include "repo-navbar.html" %}
  {% if next_page.is_some() %}
  <a href="{{next_page.as_ref().unwrap()}}" style="float:right;">older commits &rarr;</a>
  {% endif %}
  <h3>{{branch}}</h3>
  <table>
  {% for commit in commits %} 
  <tr>
    <td><a href="/{{repo|repo_name|urlencode_strict}}/commit/{{commit.id()}}" class="commit-hash">{{commit.id().to_string()[..7]}}</a></td>
    {% let summary = commit.summary().unwrap_or("")|truncate(72) %}
    <td class="commit-summary">{{summary}}</td>
    <td class="commit-author-email">{{commit.author()|signature_email_link|safe}}</td>
    <td class="commit-date">{{commit.time()|format_datetime("%Y-%m-%d")}}</td>
  </tr>
  {% endfor %}
  </table>
  {% if next_page.is_some() %}
  <a href="{{next_page.as_ref().unwrap()}}">older commits &rarr;</a>
  {% endif %}
{% endblock %}

