{% extends "base.html" %}

{% block content %}
  {% include "repo-navbar.html" %}
  <h2>Branches</h2>
  <table>
  {% for branch in branches %}
  <tr>
    <td class="git-reference">
    <a href="/{{repo|repo_name|urlencode_strict}}/log/{{branch.shorthand().unwrap()}}">{{ branch.shorthand().unwrap() }}</a>
    </td>
  </tr>
  {% endfor %}
  </table>
  <h2>Tags</h2>
  <table>
  {% for (link, tag, signature) in tags %}
    <tr>
      <td class="git-reference">
        <a href="/{{repo|repo_name|urlencode_strict}}/{{link}}">{{tag}}</a>
      </td>
      <td>
        {{signature|signature_email_link|safe}}
      </td>
      <td>
        {{signature.when()|format_datetime("%Y-%m-%d")}}
      </td>
    </tr>
  {% endfor %}
  </table>
{% endblock %}
