{% extends "base.html" %}

{% block content %}
  {% include "repo-navbar.html" %}
  <div class="main">
    {% if path.to_string_lossy() != "" %}
    <h3>{{path.to_string_lossy()}}/@<a href="/{{repo|repo_name|urlencode_strict}}/tree/{{spec}}">{{spec}}</a></h3>
    {% else %}
  <h3>{{ spec }}</h3>
  {% endif %}
  <table>
    {% for entry in tree %}
    <tr>
      <td class="permissions">
        {{ entry.filemode()|unix_perms }}
      </td>
      {% let obj = entry.to_object(repo) %}
      {% if obj.is_ok() %}
      {% let o = obj.unwrap() %}
      <td class="filename">
        <a href="/{{repo|repo_name|urlencode_strict}}/tree/{{ spec }}/item/{{path.join(entry.name().unwrap()).to_string_lossy()}}">
        {{ entry.name().unwrap() }}{% if o.as_tree().is_some() %}/{% endif %}</a>
      </td>
      <td class="filesize">
        {% if o.as_blob().is_some() %}
        {{ o.into_blob().unwrap().content().len()|filesizeformat }}
        {% endif %}
      </td>
      {% else %}
      <td class="filename">
        {{ entry.name().unwrap() }}
      </td>
      <td class="filesize"></td>
      {% endif %}
    </tr>
    {% endfor %}
  </table>
  </div>
{% endblock %}
